.upper-messages {
  border-bottom: 2px solid #ccc;
  padding: 20px;
}

.upper-messages:after {
  clear: both;
  display: block;
  content: "";
}

.upper-messages h1 {
  font-family: Work Sans;
  font-weight: 300;
  font-size: 24px;
  color: #6B6B6B;
  letter-spacing: 2px;
  text-align: left;
  width: 150px;
  margin: 0;
  float: left;
}

.add-message {
  display: inline-block;
  float: right;
  width: 23px;
  height: 23px;
  background: url("/assets/add-msg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 200ms;
}

.add-message:hover {
  cursor: pointer;
  background: url("/assets/green-add-msg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.users-list ul {
  float: left;
  margin: 0;
  width: 100%;
}

.users-list li {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  font-family: Roboto Slab;
  font-weight: 300;
  padding: 20px;
  transition: background 200ms, color 200ms;
}

.users-list li:hover {
  cursor: pointer;
  background-color: #2dbe60;
  color: white;
}

.users-list li p {
  width: 200px;
  float: left;
}

.message-icons {
  float: right;
}

.message-trash {
  width: 17px;
  height: 17px;
  background: url("/assets/trash.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.message-trash:hover {
  opacity: 1;
}

.timestamp {
  transition: color 200ms;
}

.users-list li:hover .timestamp {
  color: white;
}
