.upper-messages {
  border-bottom: 2px solid #ccc;
  padding: 20px;
}

.upper-messages:after {
  clear: both;
  display: block;
  content: "";
}

.upper-messages h1 {
  font-family: Work Sans;
  font-weight: 300;
  font-size: 24px;
  color: #6B6B6B;
  letter-spacing: 2px;
  text-align: left;
  width: 150px;
  margin: 0;
  float: left;
}

.add-message {
  display: inline-block;
  float: right;
  width: 23px;
  height: 23px;
  background: url("/assets/add-msg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 200ms;
}

.add-message:hover {
  cursor: pointer;
  background: url("/assets/green-add-msg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.users-list ul {
  float: left;
  margin: 0;
  width: 100%;
}

.users-list li {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  font-family: Roboto Slab;
  font-weight: 300;
  padding: 20px;
  transition: background 200ms, color 200ms;
}

.users-list li:hover {
  cursor: pointer;
  background-color: #2dbe60;
  color: white;
}

.users-list li p {
  width: 200px;
  float: left;
}

.message-icons {
  float: right;
}

.message-trash {
  width: 17px;
  height: 17px;
  background: url("/assets/trash.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.message-trash:hover {
  opacity: 1;
}

.timestamp {
  transition: color 200ms;
}

.users-list li:hover .timestamp {
  color: white;
}

.form-grp {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.form-grp:after {
  content: "";
  display: block;
  clear: both;
}

.form-wrapper label {
  color: #202020;
  font-family: Lato;
  font-weight: 300;
  font-size: 12px;
  display: block;
  float: left;
  margin: 0;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}

.form-wrapper input {
  width: 90%;
  height: 30px;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border: none;
  font-family: Lato;
  font-weight: 300;
  font-size: 12px;
  float: left;
}

.form-wrapper input::-webkit-input-placeholder {
  font-family: Lato;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}

.form-wrapper input:focus {
  outline-width: 0;
}

.form-wrapper textarea {
  width: 100%;
  height: 70vh;
  border: none;
  padding: 15px;
  font-family: Roboto Slab;
  font-weight: 300;
  font-size: 14px;
}

.form-wrapper textarea::-webkit-input-placeholder {
  font-family: Lato;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.form-wrapper textarea:focus {
  outline-width: 0;
}

.send-message {
  border: 1px solid #1fae52;
  background-color: #2dbe60;
  color: white;
  font-family: Lato;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
  width: 90%;
  height: 50px;
  line-height: 20px;
  vertical-align: middle;
  transition: background 200ms;
  margin-right: 10px;
  margin: 0 auto;
  display: block;
}

.send-message:hover {
  background-color: #1fae52;
}
