.upper-messages h1 {
  float: left;
}

.add-message {
  display: inline-block;
  float: right;
  width: 13px;
  height: 13px;
  background: url("/assets/black-plus.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
