textarea {
  resize: none;
}

.create-note-div {
  float: left;
  height: 100vh;
  width: calc(100% - 455px);
  padding-top: 18px;
  overflow-y: auto;
}

.create-note-div form {
  display: block;
  margin: 0 auto;
  width: 93%;
}

.update-note-div {
  float: left;
  height: 100vh;
  width: calc(100% - 455px);
  padding-top: 18px;
}

.update-note-div form {
  display: block;
  margin: 0 auto;
  width: 93%;
}

.note-title {
  border: none;
  height: 50px;
  font-size: 24px;
  font-family: Roboto Slab;
  font-weight: 300;
  width: 93%;
  color: #2dbe60;
  margin: 5px 0 0 30px;
}

.note-body {
  border: none;
  height: calc(100vh - 250px);
  font-size: 14px;
  font-family: Roboto Slab;
  font-weight: 300;
  width: 100%;
  color: #202020;
}

.note-body:focus {
  outline-width: 0;
}

.note-title::-webkit-input-placeholder {
   color: #2dbe60;
}

.note-body::-webkit-input-placeholder {
  color: #202020;
}

.note-title:focus {
  outline-width: 0;
}

#tagBox {
  width: 93%;
  margin: 0 auto;
  border: none;
  padding-left: 0;
}
