.create-notebook-div {
  float: left;
  height: 100vh;
  width: calc(100% - 455px);
  position: relative;
}

.notebook-icon-header {
  width: 100px;
  height: 100px;
  background: url("/assets/gray-notebook.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}

.create-notebook-div form {
  margin: 30px auto;
  display: block;
  width: 80%;
}

.notebook-title {
  border: none;
  height: 50px;
  font-size: 28px;
  font-family: Roboto Slab;
  font-weight: 300;
  width: 70%;
  color: #202020;
  margin-left: 70px;
  overflow: scroll;
}

.create-notebook-div button {
  margin: 30px auto;
  display: block;
  background-color: #2dbe60;
  box-shadow: none;
  border: 1px solid #1fae52;
  width: 200px;
  height: 35px;
  color: white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  border-radius: 3px;
}

.notebook-title::-webkit-input-placeholder {
  color: #aaa;
}

.notebook-title:focus {
  outline-width: 0;
}

.create-notebook-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
}

.error-wrapper {
  text-align: center;
}

.notebook-errors {
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  height: 40px;
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 3px;
  color: white;
  font-family: Lato;
  font-weight: 300;
  line-height: 20px;
  vertical-align: middle;
  position: relative;
}

.notebook-errors:after {
  position: absolute;
  display: block;
  content: "";
  width: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #d9534f;
  bottom: -6px;
  left: 10px;
}
