.search-wrapper {
  float: left;
  width: calc(100% - 455px);
  height: 100vh;
  padding: 50px;
}

.search-wrapper li {
  list-style-type: none;
}

.lg-search-bar {
  border: none;
  height: 50px;
  font-family: Arvo;
  font-size: 32px;
  color: #202020;
}

.lg-search-bar::-webkit-input-placeholder {
  color: #ccc;
}

.lg-search-bar:focus {
  outline-width: 0;
}

.bottom-border {
  border-bottom: 2px solid #ccc;
}

.bottom-border:after {
  content: "";
  display: block;
  clear: both;
}

.bottom-border p {
  margin: 10px 0 0 0;
  height: 25px;
  float: left;
  text-align: left;
  display: inline-block;
}

.bottom-border p {
  font-family: Work Sans;
  font-weight: 300;
  font-size: 13px;
}

.search-dropdown-div {
  display: inline-block;
  float: left;
  margin-left: 6px;
}

.search-dropdown-div:hover .search-notebook-dropdown {
  top: 95px;
  cursor: pointer;
  display: block;
}

.search-dropdown-div p {
  color: #2dbe60;
  font-family: Arvo;
  display: inline-block;
}

.green-arrow {
  width: 9px;
  height: 5px;
  background-image: url("/assets/down-arrow.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 2px;
}

.current-notebook {
  display: inline-block;
}

.current-notebook:hover {
  cursor: pointer;
}

.search-notebook-dropdown {
  display: none;
  position: absolute;
  width: 180px;
  max-height: 380px;
  box-shadow: 0 0px 15px #ccc;
  overflow: hidden;
  border-top: 2px solid #ccc;
  background-color: white;
}

.dropdown-item {
  width: 100%;
  height: 50px;
}

.search-notebook-dropdown li {
  font-family: Arvo;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  color: #aaa;
  vertical-align: middle;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  transition: background-color 200ms, color 200ms;
  text-align: center;
}

.search-notebook-dropdown li:first-child {
  height: 40px;
  position: relative;
  line-height: 40px;
}

.search-notebook-dropdown li:hover {
  background-color: #2dbe60;
  color: white;
}

.search-notebook-dropdown li:hover .sm-notebook-icon {
  background: url("/assets/white-notebook.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sm-notebook-icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("/assets/gray-notebook.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 200ms;
}
